h1{ 
	text-align: left; 
	font-size: 30px; 
	color: #deb887; 
	text-transform: uppercase; 
	letter-spacing: 1.5px; 
	margin-top: 20px; 
	font-weight: bolder; 
}
.singleCol { 
	max-width: 750px; 
	margin: 0 auto; 
}
.social-media-icons-black a{ 
	color: #2b9ec2; 
	font-size: 1.10rem; 
	align-items: left; }