body{
	background: seashell; 
}
label{
	text-align: center; 
	margin-left: 15%; 
	font-size: 20px; 
	color: black; 
}
form input[type="text"],form input[type="email"],form textarea { 
	display: block; 
	width: 70%; 
	padding: 10px; 
	margin-bottom: 15px;
	border: 1 px solid #ddd; 
	margin-left: 15%; 
	border-radius: 5rem; 
}
form input[type="submit"] { 
	background-color: #333; 
	color: #fff; 
	padding: 10px 20px; 
	border: none; 
	cursor: pointer; 
	margin-left: 78%; 
	margin-bottom: 3%; 
	border-radius: 5rem; 
	} 

form input[type="submit"]:hover { 
	background-color: black; 
}
h1{ 
	text-align: center; 
	color: black; 
	font-size: 25px; 
}
z { 
	display: block; 
	margin-block-start: 1em; 
	margin-block-end: 1em; 
}
.tours{ 
	width: 90%; 
	display: flex; 
	justify-content: space-around; 
}
.places img{ 
	display:inline; 
	align-items: center; 
	border-radius: 12px; 
}
